# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.idea/
.vscode/

